---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  background: transparent;
}

.page-content {
  padding: 0;
}

.wrapper {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.site-footer {
  padding: 0;
}

.site-header {
  border-bottom: 0;
  min-height: 0;
}

.header-colors {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 3px;
  width: 100%;

  .color1 {
    background-color: #de5b1b;
    flex: 1;
  }

  .color2 {
    background-color: #f8db5b;
    flex: 1;
  }

  .color3 {
    background-color: #778183;
    flex: 1;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.tabs__label {
  text-align: center;
  flex: 1;
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  cursor: pointer;
}

[for="tab-blog-posts"] {
  border-right: 0;
  border-left: 0;
}

[for="tab-portfolio"] {
  border-right: 0;
}

@media (max-width: 768px) {
  [for="tab-blog-posts"] {
    border-left: none;
  }

  [for="tab-portfolio"] {
    border-right: none;
  }

  .wrapper {
    border-left: none;
    border-right: none;
  }
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  color: #de5b1b;
}

.tabs__radio:not(:checked) + .tabs__label {
  border-bottom: solid 2px grey;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .portfolio-image-row {
    flex-direction: column;
  }

  .portfolio-image-row img {
    max-width: 100% !important;
  }

  .portfolio-image-row img:not(:last-child) {
    margin-bottom: 8px;
  }
}

.portfolio-item {
  margin-bottom: 16px;
}

.portfolio-image-row {
  justify-content: space-evenly;
  display: flex;
}

.portfolio-image-row img {
  max-width: 33%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.portfolio-image-row img.big {
  max-width: 66%;
}

.rss-subscribe {
  margin-bottom: 0;
}

.code-block {
  padding: 4px;
  margin-bottom: 16px;
  background-color: #111;
  font-family: monospace;
  color: white;
}

.unicorn-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  animation: fadeInBackground 1s ease-in-out 0.5s forwards;
  opacity: 1;
}

@keyframes fadeInBackground {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

.unicorn-background > div {
  width: 100vw !important;
  height: 100vh !important;
  max-width: none !important;
  opacity: 0;
  animation: fadeInUnicorn 1s ease-in-out 1s forwards;
}

@keyframes fadeInUnicorn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/assets/static-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .static-background {
    background-size: cover;
    background-position: center;
  }
}
