---
layout: default
---

<script>
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('portfolio') === 'true') {
      window.onload = function() {
        document.querySelector('#tab-portfolio').checked = true;
      };
    }
</script>


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="tabs">
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab-blog-posts" checked>
    <label for="tab-blog-posts" class="tabs__label" style="margin-left:-15px;">Blog</label>
    <div class="tabs__content">
      <div id="content1" class="tab-content">
        <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

      </div>
    </div>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab-portfolio">
    <label for="tab-portfolio" class="tabs__label"style="margin-right:-15px;">Projects</label>
    <div class="tabs__content">
      <div id="content2" class="tab-content">
        <div class="portfolio-item">
          <a href="https://slowmad.app" target="_blank" rel="noopener noreferrer"><h2>Slowmad.app (2024) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Trip planner using Claude AI for recommendations and routing</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/slowmad/slowmad-1.jpg'></img>
            <img src='/assets/portfolio/slowmad/slowmad-2.jpg'></img>
          </div>
        </div>

        <div class="portfolio-item" style="display: none;">
          <a href="https://aqifast.com" target="_blank" rel="noopener noreferrer"><h2>Aqifast.com (2024) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Design and performance focused AQI (Air Quality Index) checker</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/aqifast/aqifast-1.jpg'></img>
          </div>
        </div>

        <div class="portfolio-item">
          <a href="https://play.google.com/store/apps/details?id=mx.klar.app" target="_blank" rel="noopener noreferrer"><h2>Klar.mx (2022) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Credit challenger bank for Mexico</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/klar/klar-1.webp'></img>
            <img src='/assets/portfolio/klar/klar-2.webp'></img>
            <img src='/assets/portfolio/klar/klar-3.webp'></img>
          </div>
        </div>

        <div class="portfolio-item">
          <a href="planet.com"><h2>Planet.com (2017) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Satellite aerospace company</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/planet/planet-1.jpg' class="big"></img>
          </div>
        </div>

        <div class="portfolio-item">
          <a href="https://n26.com/en-at/blog/take-a-tour-of-the-brand-new-n26-for-web"><h2>N26 (2016) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Challenger bank for Germany</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/n26/n26-3.png' class="big"></img>
          </div>
        </div>

        <div class="portfolio-item">
          <a href="blacklane.com"><h2>Blacklane (2015) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Luxury car booking service</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/blacklane/blacklane-1.png'></img>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}

</div>
