---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="tabs">
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
    <label for="tab1" class="tabs__label">Blog</label>
    <div class="tabs__content">
      <div id="content1" class="tab-content">
        <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

      </div>
    </div>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
    <label for="tab2" class="tabs__label">Projects</label>
    <div class="tabs__content">
      <div id="content2" class="tab-content">
        <div>
          <a href="https://slowmad.app"><h2>Slowmad.app (2024) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Trip planner for slower trips</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/slowmad/slowmad-1.jpg'></img>
            <img src='/assets/portfolio/slowmad/slowmad-2.jpg'></img>
          </div>
        </div>

        <div>
          <a href="https://aqifast.com"><h2>Aqifast.com (2024) <img src="/assets/icons/external-link.svg"/></h2></a>
          <p>Design and performance focused AQI (Air Quality Index) checker</p>
          <div class="portfolio-image-row">
            <img src='/assets/portfolio/aqifast/aqifast-1.jpg'></img>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}

</div>
